html, body {
    font-family: "Helvetica", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 140%;
}

body {
    width: 725px;
    margin: 0 auto;
}

.home_link {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.screenshots {
    width: 100%;
}

.screenshots th {
    padding-bottom: 20px;
}

.screenshots td {
    vertical-align: top;
    text-align: center;
}