html, body {
    font-family: "Helvetica", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 16px;
}

body {
    width: 800px;
    margin: 0 auto;
}

.home_link {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
