<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Banana Banana Banana</title>
    
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/jasmine.css" type="text/css" />
    
    <script type="text/javascript" src="/js/jasmine.js"></script>
    <script type="text/javascript" src="/js/jasmine-html.js"></script>
    <script type="text/javascript" src="/js/jasmine.junit_reporter.js"></script>
</head>
<body>
    <a class="home_link" href="/">Back to Index</a>
    
    <script type="text/javascript">
        var reporter = new jasmine.JUnitReporter();
        
        describe('Banana Banana Banana', function() {
            it("Should remove this test, because it's just a placeholder.", function() {
                
            });
        });
        
        jasmine.getEnv().addReporter(reporter);
        jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
        jasmine.getEnv().execute();
    </script>
</body>
</html>
